# Introduction à python

Ce notebook donne les bases pour coder en python

In [1]:
#première définition de variable
ma_variable=5

In [2]:
#premier affichage
print(ma_variable)

5

In [3]:
#affichage des variables chargées en mémoire
%whos

Variable      Type    Data/Info
-------------------------------
ma_variable   int     5

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [4]:
entier1=2
print(type(entier1))

<class 'int'>

In [5]:
float1=3.5
bool1= True 
str1= "python"
str2= 'data'
print(float1,bool1,str1,str2,sep=", ")

3.5, True, python, data

Définir une variable comprenant la chaîne ‘Python pour la Science’, utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’

In [6]:
str3="python pour la science"
str4=(str3[:15]+str2+str3[-8:]).upper()
print(str4)

PYTHON POUR LA DATA SCIENCE

Créez une condition qui affiche une valeur différente en fonction du booléen entré.

In [7]:
bool2=True
if bool2==True:
    print("Bravo !")
elif bool2==False:
    print("Dommage")
else:
    print("Raté")
    print("Essaye encore")
    bool2=True

Bravo !

In [8]:
type(bool2)

bool

Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 3 à une variable à chaque boucle

In [9]:
var1=0
for val in range(6):
    var1+=3
print(var1)

18

In [10]:
for val in range(0,19,3):
    pass
print(val)

18

Créer une suite de commande, qui demande l’entrée d’un nombre, multipliez ce nombre par deux et affichez-le en sortie.

In [11]:
try:
    entree=input("Entrez un chiffre :")
    print(2*float(entree))
except:
    pass

Entrez un chiffre :22
44.0

Créez une liste composée de 5 éléments, affichez la longueur de la liste.
Modifiez la dernière valeur de la liste et construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.

In [12]:
list1=[12,"python",23.45,32,True]

In [13]:
type(list1[1])

str

In [14]:
#on ajoute un élément en fin de liste
list1.append("data")

In [15]:
len(list1)

6

In [16]:
#on modifie le dernier élément de la liste
list1[-1]=33

In [17]:
print(list1)

[12, 'python', 23.45, 32, True, 33]

In [18]:
#on crée une liste à partir des 3 derniers éléments de la liste initiale
list2=list1[-3:]

In [19]:
print(list2)

[32, True, 33]

A partir d’une liste de valeurs en degrés celsius [0, 10, 20, 35], créez une liste en degrés fahrenheits (9/5*temp+32)

In [20]:
list_celsius=[0,10,20,35]
list_fahrenheits=[9/5*temp+32 for temp in list_celsius]
print(list_fahrenheits)

[32.0, 50.0, 68.0, 95.0]

In [21]:
list_fahrenheits2=[]
for temp in list_celsius:
    list_fahrenheits2.append(9/5*temp+32)
print(list_fahrenheits2)

[32.0, 50.0, 68.0, 95.0]

Créez la chaîne ‘Vive la data science’, transformez-la en une liste de quatre éléments.  Ajoutez les valeurs ‘et’ et ‘Python’ à cette liste.  Affichez la chaîne de caractère obtenue.

In [22]:
str5="Vive la data science"
list3=str5.split(" ")
list3.extend(["et", "python"])
print(list3)

['Vive', 'la', 'data', 'science', 'et', 'python']

In [23]:
print(" ".join(list3).upper())

VIVE LA DATA SCIENCE ET PYTHON

Créez la chaîne ‘Ce client est …, il a … ans d’ancienneté et a dépensé … euros’. On utilisera les %... dans la chaîne que l’on pourra remplacer par différentes valeurs

In [24]:
nom="Emmanuel"
age=10
depense=100.45

str6="Ce client est %s, il a %i ans d’ancienneté et a dépensé %.2f euros" 
str6=str6 % (nom,age,depense)

In [25]:
print(str6)

Ce client est Emmanuel, il a 10 ans d’ancienneté et a dépensé 100.45 euros

Construire un dictionnaire composé de listes de mots et accédez à un élément d’une des listes du dictionnaire.  Affichez le mot en majuscule.

In [26]:
dico1={"France":["Paris","Lyon","Marseille"],"Espagne":["Barcelone","Madrid"]}

In [27]:
dico1["Espagne"]

['Barcelone', 'Madrid']

In [28]:
dico1.keys()

dict_keys(['France', 'Espagne'])

In [29]:
dico1.values()

dict_values([['Paris', 'Lyon', 'Marseille'], ['Barcelone', 'Madrid']])

In [30]:
dico1["France"]

['Paris', 'Lyon', 'Marseille']

In [31]:
dico2={"France":{"Paris":5,"Lyon":3,"Marseille":2},
       "Espagne":["Barcelone","Madrid"]}

In [32]:
dico2["France"]["Paris"]

5

### Les fonctions

In [33]:
def ma_condition(bool1:bool):
    """
    Cette fonction applique une condition
    """
    if bool1==True:
        print("Bravo !")
    elif bool1==False:
        print("Dommage")
    else:
        print("Raté")
        print("Essaye encore")

In [34]:
ma_condition(True)

Bravo !

In [35]:
def test2(a,b,*args):
    """Cette fonction prend autant d'arguements que possible
    """
    x=0
    for val in args:
        x+=val
    return a, b, x

In [36]:
tup1=test2(4,6,3,2,1,5,4,3,5)

In [37]:
tup1

(4, 6, 23)

In [38]:
#comme cette fonction renvoie plusieurs valeurs, elle peut aussi remplir plusieurs variables simultanément
val1,val2,val3=test2(4,6,3,2,1,5,4,3,5)
print(val1,val2,val3)

4 6 23

Créez une fonction lambda qui met en majuscule et qui sépare les mots d’une chaîne de caractère

In [39]:
split_maj= lambda str1, str2 : str1.upper().split(" ")+ (str2).upper().split(" ")

In [40]:
split_maj(str4,str3)

['PYTHON', 'POUR', 'LA', 'DATA', 'SCIENCE', 'PYTHON', 'POUR', 'LA', 'SCIENCE']

In [41]:
#cette fonction est équivalente à la précédente
def split_maj2(str1, str2):
    return str1.upper().split(" ")+ (str2).upper().split(" ")

In [42]:
split_maj2(str4,str3)

['PYTHON', 'POUR', 'LA', 'DATA', 'SCIENCE', 'PYTHON', 'POUR', 'LA', 'SCIENCE']

Construire une fonction prenant en entrée deux listes et qui retourne la moyenne de tous les éléments des deux listes (une seule valeur)

In [45]:
def moy_lists(list1,list2):
    return sum(list1+list2)/len(list1+list2)

In [46]:
def moy_lists2(list1,list2):
    somme=0.0
    for valeur in list1+list2:
        somme+=valeur
    return somme/len(list1+list2)

In [48]:
from numpy.random import randn
list1=[x for x in randn(1000000)]
list2=[x for x in randn(1000000)]

In [56]:
%time moy_lists(list1,list2)

Wall time: 666 ms

-0.00058222027478868653

In [57]:
%time moy_lists2(list1,list2)

Wall time: 830 ms

-0.00058222027478868653

In [53]:
from numpy import array
def moy_lists3(list1,list2):
    return array(list1+list2).mean()

In [58]:
%time moy_lists3(list1,list2)

Wall time: 571 ms

-0.00058222027478865292

In [59]:
arr1=randn(1000000)
%time arr1.mean()

Wall time: 3 ms

0.001039455443471785

# Les classes

Définir une classe Client qui s’initialise avec comme variable nouveau_client et ville. 
Créer un objet client1 et affichez les valeurs allouées

In [60]:
class Client:
    """Cette classe définit un client"""
    def __init__(self, nouveau_client=True,ville="Paris"):
        self.nouveau_client=nouveau_client
        self.ville=ville
        
    def affiche_ville(self):
        """Cette méthode affiche la ville d'une client"""
        print("Mon client vient de", self.ville)

In [61]:
mon_premier_client=Client()

In [63]:
mon_premier_client.nouveau_client

True

In [64]:
mon_premier_client.affiche_ville()

Mon client vient de Paris

Définissez une classe CompteBancaire(), qui permette d'instancier des objets tels que compte1, compte2, etc. 
Le constructeur de cette classe initialisera deux attributs d'instance nom et solde, avec les valeurs par défaut ‘A' et 0.

Trois autres méthodes sont définies :
- depot(somme) permettra d'ajouter une certaine somme au solde
- retrait(somme) permettra de retirer une certaine somme du solde
- affiche() permettra d'afficher le solde du compte et un message d’alerte en cas de solde négatif.

In [65]:
class CompteBancaire:
    """Classe permettant de créer un objet compte bancaire"""
    def __init__(self,nom="A",solde=0):
        self.nom=nom
        self.solde=solde
    
    def retrait(self,somme):
        """Méthode pour retirer une somme"""
        self.solde-=somme
    
    def depot(self,somme):
        """Méthode pour déposer une somme"""
        self.solde+=somme
    
    def affiche(self):
        if self.solde<0:
            print("Attention votre solde est négatif")
        print("Votre solde est de :", self.solde)

In [66]:
compte1=CompteBancaire()

In [67]:
compte1.nom="Emmanuel"

In [68]:
compte1.depot(100)

In [69]:
compte1.affiche()

Votre solde est de : 100

# Les exceptions

Créer une gestion d’exception pour une fonction prenant en entrée deux input() puis divisez-les, utiliser les différentes erreurs d’exceptions

In [72]:
def fonc_except(var1=5,var2=5):
    try :
        print("Python")
        return var1/var2
    except ZeroDivisionError:
        print("Attention on ne divise pas par 0")   
    except TypeError:
        print("Il y a une erreur de type !")
    except NameError:
        print("Il y a une vatiable qui n'est pas définie")

In [73]:
fonc_except()

Python

1.0